@import 'base';

body {
  color: $clr-dark;
  background-color: $clr-light;
}

/*
 * Globals
 */
// Custom default button.
.btn-secondary {
  color: $clr-dark;
  background-color: $clr-light;
  border-color: $clr-dark;

  // Disable double-tap to zoom on touchscreens.
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $clr-dark;
    background-color: $clr-light;
  }

  &.selected {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .btn-secondary {
    padding: 0.5rem;
  }
}

/*
 * Base structure
 */
.cover-container {
  max-width: 48em;
}

/*
 * Header
 */

.nav-masthead {
  & button {
    cursor: pointer;
    padding: 0.25rem;
    color: $clr-dark;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid transparent;
    text-transform: none;

    &:hover,
    &:focus {
      border-bottom-color: $clr-accent-light;
    }

    & + button {
      margin-left: 1rem;
    }
  }

  & .active {
    border-bottom-color: $clr-dark;
  }
}

.date,
.time,
.countdown {
  color: $clr-accent-light;
}

a {
  color: $clr-dark;
  text-decoration: none;

  &:hover {
    color: $clr-dark;
    text-decoration: underline;
  }
}

.date-input {
  border-radius: 5px;
  border: 1px solid $clr-dark;
}

body,
.btn-secondary,
.date,
.time,
.countdown,
a,
.date-input {
  transition: color 750ms ease, background-color 750ms ease,
    border-bottom 750ms ease, border-bottom-color 750ms ease,
    border-color 750ms ease;
}

// Dark mode.
.dark {
  color: $clr-light;
  background-color: $clr-dark;

  .btn-secondary {
    color: $clr-light;
    background-color: $clr-dark;
    border-color: $clr-light;
  }

  & .nav-masthead {
    & button {
      color: $clr-light;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid transparent;

      &:hover,
      &:focus {
        border-bottom-color: $clr-accent-dark;
      }

      & + button {
        margin-left: 1rem;
      }
    }

    & .active {
      border-bottom-color: $clr-light;
    }
  }

  & .date,
  & .time,
  & .countdown {
    color: $clr-accent-dark;
  }

  & a {
    color: $clr-light;
  }

  .date-input {
    color: $clr-light;
    background-color: $clr-dark;
    border-color: $clr-light;
    color-scheme: dark;
  }
}

// Easter eggs.
.easter-egg-text.🐕 {
  background: radial-gradient(
    circle,
    #f85a8f 0%,
    #c63edf 20%,
    #48c8da 40%,
    #4ec952 60%,
    #d6e931 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradient 1.5s linear infinite alternate;
}

.easter-egg-text.🧔 {
  background: radial-gradient(
    circle,
    #1fd537 0%,
    #28e942 20%,
    #f3dd19 40%,
    #e25a1b 60%,
    #f30212 80%
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradient 2.5s linear infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.easter-egg-text.🦃 {
  background: radial-gradient(
    circle,
    #eb8a0c 0%,
    #e6aa3c 20%,
    #e9d523 40%,
    #e25a1b 60%,
    #cc490c 80%
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradient 2.5s linear infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
