@import 'base';

body {
  color: $clr-black;
  background-color: $clr-white;
}

/*
 * Globals
 */

/* Custom default button */
.btn-secondary {
  color: $clr-black;
  background-color: $clr-white;
  border-color: $clr-black;

  &:hover,
  &:focus {
    color: $clr-black;
    background-color: $clr-white;
  }

  &.selected {
    opacity: 0.5;
  }
}

/*
 * Base structure
 */

.cover-container {
  max-width: 48em;
}

/*
 * Header
 */

.nav-masthead {
  & button {
    cursor: pointer;
    padding: 0.25rem;
    color: $clr-black;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid transparent;
    text-transform: none;

    &:hover,
    &:focus {
      border-bottom-color: $clr-accent-light;
    }

    & + button {
      margin-left: 1rem;
    }
  }

  & .active {
    border-bottom-color: $clr-black;
  }
}

.date,
.time,
.countdown {
  color: $clr-accent-light;
}

a {
  color: $clr-black;
  text-decoration: none;

  &:hover {
    color: $clr-black;
    text-decoration: underline;
  }
}

body,
.btn-secondary,
.date,
.time,
.countdown,
a {
  transition: color 750ms ease, background-color 750ms ease,
    border-bottom 750ms ease, border-bottom-color 750ms ease,
    border-color 750ms ease;
}

// Dark mode.
.dark {
  color: $clr-white;
  background-color: $clr-black;

  .btn-secondary {
    color: $clr-white;
    background-color: $clr-black;
    border-color: $clr-white;
  }

  & .nav-masthead {
    & button {
      color: $clr-white;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid transparent;

      &:hover,
      &:focus {
        border-bottom-color: $clr-accent-dark;
      }

      & + button {
        margin-left: 1rem;
      }
    }

    & .active {
      border-bottom-color: $clr-white;
    }
  }

  & .date,
  & .time,
  & .countdown {
    color: $clr-accent-dark;
  }

  & a {
    color: $clr-white;
  }
}
