@import 'base';

body {
  color: $clr-black;
  background-color: $clr-white;
}

/*
 * Globals
 */

/* Custom default button */
.btn-secondary {
  color: $clr-black;
  background-color: $clr-white;
  border-color: $clr-black;

  &:hover,
  &:focus {
    color: $clr-black;
    background-color: $clr-white;
  }
}

/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead {
  & span {
    cursor: pointer;
    padding: 0.25rem 0;
    font-weight: light;
    color: $clr-black;
    background-color: transparent;
    border-bottom: 0.1rem solid transparent;
    text-transform: none;

    &:hover,
    &:focus {
      border-bottom-color: $clr-accent-light;
    }

    & + span {
      margin-left: 1rem;
    }
  }

  & .active {
    color: $clr-black;
    border-bottom-color: $clr-black;
  }
}

.date,
.time,
.countdown {
  color: $clr-accent-light;
}

a {
  color: $clr-black;
  text-decoration: none;

  &:hover {
    color: $clr-black;
    text-decoration: underline;
  }
}

body,
.date,
.time,
.countdown,
a {
  transition: color 750ms ease, background-color 750ms ease,
    border-bottom 750ms ease, border-bottom-color 750ms ease,
    border-color 750ms ease;
}

// Dark mode.
.dark {
  color: $clr-white;
  background-color: $clr-black;

  .btn-secondary {
    color: $clr-white;
    background-color: $clr-black;
    border-color: $clr-white;
  }

  & .nav-masthead {
    & span {
      color: $clr-white;

      &:hover,
      &:focus {
        border-bottom-color: $clr-accent-dark;
      }

      & + span {
        margin-left: 1rem;
      }
    }

    & .active {
      color: $clr-white;
      border-bottom-color: $clr-white;
    }
  }

  & .date,
  & .time,
  & .countdown {
    color: $clr-accent-dark;
  }

  & a {
    color: $clr-white;
  }
}
